.websiteTile {
    text-align: center;
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:2px solid lightgray;
    border-radius:20px;
    transition: all .3s ease;   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.websiteTile:hover {
    transform:scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.websiteTile > h2 {
    margin:0px;
    margin-top:.5rem;
}