.tilesContainer {
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content: center;
  align-items: center;
}

.content > p {
  text-align: center;
  width:40%;
  margin:2rem auto;
  font-size:1.25rem;
}

.hero {
  text-align: center;
  min-height:70vh;
  background-color: rgb(10, 10, 10);
  color:aliceblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.hero > h1 {
  font-size:3rem;
  margin-top:0px;
  padding-top:4rem;
}

.hero > h3 {
  font-size:2rem;
}

.heroImages {
  display:flex;
  justify-content: center;
  gap:60px;
}

.heroImages > img {
  height:200px;
  width:200px;
  border-radius:30px;
}